<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Users
    link(rel="stylesheet", href="/css/users.css")
  body
  header
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="users") Users

  h1 Users Page
  ol
    li.users.highlight User 1
    li.users User 2
    li.users User 3
    li.users User 4
    li.users User 5
    li.users User 6
    li.users User 7
    li.users User 8
    li.users User 9
    li.users User 10


  script(src="js/users.js")
  